
.ace_editor,
.ace_editor .ace_scroller,
.ace_editor .ace_content,
.ace_editor .ace_layer,
.ace_editor .ace_gutter {
  background-color: transparent !important;
  background: transparent !important;
}

.purple-scrollbar::-webkit-scrollbar{
  height:8px;
  background: transparent;
}
.purple-scrollbar::-webkit-scrollbar-thumb{
  background: #a120ff;
  border-radius: 8px;
}
.purple-scrollbar::-webkit-scrollbar-thumb:hover{
  background: #7d1acc;
}

.purple-scrollbar{
  scrollbar-color: #a120ff transparent;
  scrollbar-width:thin;
}


